/**/
 .container-fluid {
    &.full-width {
        padding-left: 0;
        padding-right: 0;
    }
}
/**/
 .row.table {
    width : 100%;
    height: 100%;
    display: table-row;
    margin :0;
    padding :0;
    border : 0;
    float: left;
}
/**/
 .col-xs-2.cell {
    margin :0;
    padding :0;
    display: table-cell;
    float: none;
    vertical-align: middle;
}
.col-xs-5.cell {
    display: table-cell;
    float: none;
    vertical-align: middle;
    padding-left: 0;
    padding-right: 0;
}
/**/
 .cell {
    &.top-left {
        vertical-align: top;
        text-align: left;
    }
    &.top-center {
        vertical-align: top;
        text-align: center;
    }
    &.top-right {
        vertical-align: top;
        text-align: right;
    }
    &.middle-left {
        vertical-align: middle;
        text-align: left;
    }
    &.middle-center {
        vertical-align: middle;
        text-align: center;
    }
    &.middle-right {
        vertical-align: middle;
        text-align: right;
    }
    &.bottom-left {
        vertical-align: bottom;
        text-align: left;
    }
    &.bottom-center {
        vertical-align: bottom;
        text-align: center;
    }
    &.bottom-right {
        vertical-align: bottom;
        text-align: right;
    }
}
